#root {
  max-width: 9000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  justify-content: space-evenly;
  max-width: min-content;
}

.green {
  color: green;
}

body {
  background-color: #f3f3f3;
  color: #333;
  font-family: "Arial", sans-serif;
}

h2 {
  color: #333;
}

p {
  color: #666;
}

.card {
  background-color: white;
  padding: 20px;
  margin: 10px;
}
